/*-------------------- COMMON --------------------*/
body {
  font-family: 'Kanit', sans-serif;
}

li {
  cursor: pointer;
  font-size: 1.25rem;
}

.title {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes AnimationName {
    0%   { background-position:   0%  7% }
    50%  { background-position: 100% 94% }
    100% { background-position:   0%  7% }
}

@-moz-keyframes AnimationName {
  0%   { background-position:   0%  7% }
  50%  { background-position: 100% 94% }
  100% { background-position:   0%  7% }
}

@-o-keyframes AnimationName {
  0%   { background-position:   0%  7% }
  50%  { background-position: 100% 94% }
  100% { background-position:   0%  7% }
}

@keyframes AnimationName {
  0%   { background-position:   0%  7% }
  50%  { background-position: 100% 94% }
  100% { background-position:   0%  7% }
}
  
/*-------------------- NAVBAR --------------------*/
#navbar-container {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  max-width: 100%;
  margin: 0 0 0 0;
}

.navbar-brand {
  font-size: 1.75rem!important;
  font-weight: 500;
}

.navbar {
  padding: 10px 200px;
  background: rgba(255, 255, 255, 0.8)!important;
  transition: all 0.2s ease-in;
}
  
.navbar-bordered {
  animation: shadow-fade-in 1s;
  box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
}
  
@keyframes shadow-fade-in {
  0%   { box-shadow: none; }
  100% { box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
          -webkit-box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
          -moz-box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
        }
}
 
/*-------------------- INTRO --------------------*/
#intro-container {
  padding: 155px 0 0 0!important;
  max-width: 100%!important;
  margin: 0 0!important;
  background: linear-gradient(135deg, rgba(251, 159, 0, 0.15), rgba(255, 133, 27, 0.15), rgba(220, 20, 60, 0.15), rgba(156, 89, 182, 0.15), rgba(68, 132, 206, 0.15), rgba(34, 139, 34, 0.15), rgba(255, 217, 0, 0.15));
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 85s ease infinite;
  -moz-animation: AnimationName 85s ease infinite;
  -o-animation: AnimationName 85s ease infinite;
  animation: AnimationName 85s ease infinite;
  height: 100%;
  box-shadow: 0px 4px 6px 0px rgba(128, 128, 128, 0.75);
}

#intro-container-image {
  max-width: 100%!important;
  height: 600px!important;
  background-image: url("../images/mountain-range.png");
  background-repeat: no-repeat;
}

#intro-container-text a {
  text-decoration: none!important;
}

#intro-container-text {
  padding: 25px 0 0 0;
}

#intro-container-text h1 {
  color: rgba(0, 0, 0, 0.65);
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 4.75rem;
}

#intro-container-text h5 {
  color: rgba(0, 0, 0, 0.65);
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 0 0 20px 0;
}

.icons {
  color: rgba(255, 255, 255, 1.0);
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.8s;
}

.icons:hover {
  color: rgba(0, 0, 0, 0.65);
}
  
/*-------------------- ABOUT --------------------*/
#about-container {
  margin: 80px auto 120px auto!important;
}

#about-container-inner {
  margin: 60px auto!important;
}

#about-container p {
  margin: 40px 0px!important;
  font-size: 1.05rem;
  font-weight: 400;
  color: #BDBAB9;
}

#profile-pic {
  box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 1.0);
  margin: 0px 120px 0px 15px!important;
  shape-outside: circle();
  border-radius: 40%;
  border: 5px double rgba(0, 0, 0, 0.65);
  width: 275px;
  height: 275px;
  background: linear-gradient(135deg, rgba(251, 159, 0, 0.15), rgba(255, 133, 27, 0.15), rgba(220, 20, 60, 0.15), rgba(156, 89, 182, 0.15), rgba(68, 132, 206, 0.15), rgba(34, 139, 34, 0.15), rgba(255, 217, 0, 0.15));
  background-size: 600% 600%;
  -webkit-animation: AnimationName 85s ease infinite;
  -moz-animation: AnimationName 85s ease infinite;
  -o-animation: AnimationName 85s ease infinite;
  animation: AnimationName 85s ease infinite;
}

/*-------------------- SKILLS --------------------*/
#skills-container {
  margin: 100px auto!important;
}  

.skill-card {
  padding: 20px 20px;
  box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 1.0);
  border: 5px double rgba(0, 0, 0, 0.65);
  border-radius: 25px;
  height: 475px;
}

.skill-card-column-icon {
  height: 40px; 
  width: 40px;
  display: block;
  margin: 0 auto 5px auto;
  background-color: rgba(255, 255, 255, 1.0);
}

.skill-card-item{
  width: 100%;
  padding: 5px 0px 5px 10px;
}

.skill-card-icon {
  border-radius: 10px;
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
}

.skill-card-icon-title {
  font-size: 1.25rem;
}

/*-------------------- PORTFOLIO --------------------*/
#portfolio-container {
  margin: 200px auto!important;
}  

.portfolio-card {
  display: inline-block;
  padding: 40px 40px;
  box-shadow: 0px 5px 15px 5px rgba(128, 128, 128, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  height: auto;
}

.portfolio-card:hover {
  box-shadow: 0px 5px 10px 2px rgba(33, 83, 33, 0.75);
}

.portfolio-card a:hover {
  text-decoration: none;
}

.portfolio-card-icon {
  margin: 10px 0 0 0;
  max-width: 100%;

}

.portfolio-card-link {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
  
/*-------------------- CONTACT --------------------*/
#contact-container {
  max-width: 100%!important;
  background-color: #a1edf0;
}

#contact-container h1 {
  font-size: 4rem;
  margin: 0!important;
  padding: 70px 0px 100px 0px;
}

#contact-container-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 165px 0;
}

.contact-container-icon {
  margin: 60px;
  display: inline-block;
}
  
/*-------------------- FOOTER --------------------*/
#footer-container {
  background-color: #a1edf0;
  padding: 0 0 20px 0!important;
}

#footer-container a {
  color: rgba(0, 0, 0, 0.5);
}

#footer-container a:hover {
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}