/*-------------------- COMMON --------------------*/
body {
  font-family: 'Kanit', sans-serif;
}

li {
  cursor: pointer;
  font-size: 1.25rem;
}

.title {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes backgroundImageColorShift {
    0%   { background-position:   0%  7% }
    50%  { background-position: 100% 94% }
    100% { background-position:   0%  7% }
}

@-moz-keyframes backgroundImageColorShift {
  0%   { background-position:   0%  7% }
  50%  { background-position: 100% 94% }
  100% { background-position:   0%  7% }
}

@-o-keyframes backgroundImageColorShift {
  0%   { background-position:   0%  7% }
  50%  { background-position: 100% 94% }
  100% { background-position:   0%  7% }
}

@keyframes backgroundImageColorShift {
  0%   { background-position:   0%  7% }
  50%  { background-position: 100% 94% }
  100% { background-position:   0%  7% }
}
  
/*-------------------- NAVBAR --------------------*/
#navbar {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  max-width: 100%;
  margin: 0 0 0 0;
}

#nav-item-name {
  font-size: 1.75rem;
  font-weight: 500;
}

.navbar {
  padding: 10px 200px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
}
 
/*-------------------- INTRO --------------------*/
#intro {
  padding: 325px 0 0 0;
  max-width: 100%;
  margin: 0;
  background: linear-gradient(135deg, rgba(251, 159, 0, 0.15), rgba(255, 133, 27, 0.15), rgba(220, 20, 60, 0.15), rgba(156, 89, 182, 0.15), rgba(68, 132, 206, 0.15), rgba(34, 139, 34, 0.15), rgba(255, 217, 0, 0.15));
  background-size: 1200% 1200%;
  -webkit-animation: backgroundImageColorShift 50s ease infinite;
  -moz-animation: backgroundImageColorShift 50s ease infinite;
  -o-animation: backgroundImageColorShift 50s ease infinite;
  animation: backgroundImageColorShift 50s ease infinite;
  height: 100%;
  box-shadow: 0px 4px 6px 0px rgba(128, 128, 128, 0.75);
}

#intro-image {
  max-width: 100%;
  height: 600px;
  background-image: url("../images/mountain-range.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#intro-text a {
  text-decoration: none;
}

#intro-text h1 {
  color: rgba(0, 0, 0, 0.65);
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 4.75rem;
}

#intro-text h5 {
  color: rgba(0, 0, 0, 0.65);
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 0 0 20px 0;
}

.icons {
  color: rgba(255, 255, 255, 1.0);
  padding-left: 5px;
  padding-right: 5px;
}

.icons:hover {
  color: rgba(0, 0, 0, 0.65);
}

/*-------------------- SKILLS --------------------*/
#skills {
  padding: 150px 0px 250px 0px;
}  

.skill-card {
  padding: 20px 20px;
  box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 1.0);
  border: 5px double rgba(0, 0, 0, 0.65);
  border-radius: 25px;
  height: 500px;
}

.skill-card-column-icon {
  height: 40px; 
  width: 40px;
  display: block;
  margin: 0 auto 5px auto;
  background-color: rgba(255, 255, 255, 1.0);
}

.skill-card-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  padding: 5px 0px 5px 10px;
}

.skill-card-icon {
  border-radius: 10px;
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
}

.skill-card-icon-title {
  font-size: 1.25rem;
}

/*-------------------- PORTFOLIO --------------------*/
#portfolio {
  padding: 100px 0px;
}  

.portfolio-card {
  display: inline-block;
  padding: 40px 40px;
  box-shadow: 0px 5px 15px 5px rgba(128, 128, 128, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  height: auto;
}

.portfolio-card:hover {
  box-shadow: 0px 5px 10px 2px rgba(33, 83, 33, 0.75);
}

.portfolio-card a:hover {
  text-decoration: none;
}

.portfolio-card-icon {
  margin: 10px 0 0 0;
  max-width: 100%;

}

.portfolio-card-link {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
  
/*-------------------- CONTACT --------------------*/
#contact {
  padding: 55px 0 100px 0;
  max-width: 100%;
  background-color: #a1edf0;
}

#contact h1 {
  font-size: 4rem;
  margin: 0;
  padding: 70px 0px 100px 0px;
}

#contact-box {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  padding: 0 0 165px 0;
}

.contact-icon {
  margin: 60px;
  display: inline-block;
}

.contact-icon:nth-of-type(1) {
  /* position: absolute;
  left: -100px; */



}


.slideFromLeft {
  animation: slideFromLeft 0.5s;
  -webkit-animation: slideFromLeft 0.5s;
}

.slideFromBelow{
  animation: slideFromBelow 0.5s;
  -webkit-animation: slideFromBelow 0.5s;
}

.slideFromRight {
  animation: slideFromRight 0.5s;
  -webkit-animation: slideFromRight 0.5s;
}

@keyframes slideFromLeft {
    0% { transform: translateX(-250px); }
  100% { transform: translateX(0px); }
}

@-webkit-keyframes slideFromLeft {
    0% { transform: translateX(-250px); }
  100% { transform: translateX(0px); }
}

@keyframes slideFromBelow {
  0% { transform: translateY(250px); }
100% { transform: translateY(0px); }
}

@-webkit-keyframes slideFromBelow {
  0% { transform: translateY(250px); }
100% { transform: translateY(0px); }
}

@keyframes slideFromRight {
  0% { transform: translateX(250px); }
100% { transform: translateX(0px); }
}

@-webkit-keyframes slideFromRight {
  0% { transform: translateX(250px); }
100% { transform: translateX(0px); }
}
  
/*-------------------- FOOTER --------------------*/
.footer {
  background-color: #a1edf0;
  padding: 0 0 20px 0;
  font-size: 1.15rem;
  font-weight: 400;
}

.footer a {
  color: rgba(0, 0, 0, 0.5);
}

.footer a:hover {
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}